html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.leaflet-top {
    top: 40px;
}


.modal > .alert {
    margin-bottom: 0px;
}

.navbar-search{
    margin-top:0px!important
}